<h2>Trainer Name: <%= @trainer.name %></h2>
<h2>Pic:</h2> <img src="<%= @trainer.img_url %>">
<h2>Level: <%= @trainer.level %></h2>
<h2>Pokemon: <a href="/pokemons/<%= @pokemon.id %>"><%= @pokemon.name %></a></h2>
